# Ignore virtual environment directories
venv/
env/
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Django migration files
**/migrations/

# Ignore database files
*.sqlite3

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore environment variables file
.env
